// Couleurs principales de la marque
$brand-primary: darkslategray;
$brand-secondary: silver;
$brand-primary-lighter: lightslategray;
$brand-strong: tomato;

// Couleurs d'arrière-plan
$bg-white: white;
$bg-lighter: gainsboro;
$bg-light: lightgray;

// Couleurs de texte
$text-primary: black;
$text-secondary: silver;
$text-tertiary: darkslategray;

// Couleurs de boutons
$btn-primary-bg: black;
$btn-primary-text: white;
$btn-secondary-bg: white;
$btn-secondary-text: black;